.navbar{
    display: flex;
    position: absolute;
    background-color: #353be552;
    padding: 15px;
    margin: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.navbar h1 {
    display: flex;
    align-items: center;
    margin-left: 5px;
    color: white;
    text-shadow: 4px 4px 4px #0094FF56;
    font-weight: 800;
    font-size: 55px;
}

.navItems{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    width: 71%;
    margin: 0;
    padding: 0;
}

.navItem{
    font-size: 25px;
    color: white;
    font-weight: 400;
    padding: 5px;
}

.navItem:hover{
    border: white 2px solid;
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    background-color: grey;
    border-radius: 10px;
    margin-right: 25px;
    border: 4px #4C4B4B solid;
}

.profilePicture{
    display: flex;
    width: 50px;
    height: 50px;
}

.profileRow{
    display: flex;
    flex-direction: row;
    margin-right: 5px;
    align-items: center;
    justify-content: center;
}

.navHeadingTitles{
    font-size: 5vh;
    font-weight: 400;
    padding: 0;
    margin: 0;
  }

.link{
    text-decoration: none;
}

@media all and (max-width: 500px){
    .navbar{
        width: 93.6vw;
    }
}