.row{
    display: flex;
    width: 70vh;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    flex-direction: row;
}

.Textcolumn{
    display: flex;
    flex-direction: column;
    margin-left: 2vh;
}

.icon{
    height: 80px;
}

.title{
    font-size: 25px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-align: left;
}

.subtitle{
    color: grey;
    font-size: 15px;
    margin: 0;
    padding: 0;
}