.navbar{
  background-color: rgb(51, 166, 253);
  padding: 15px;
}

li a{
  text-decoration: none;
  color: black;
}

.navbar h1 {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.mainText{
  font-size: 35px;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: row;
  background-color: rgb(159, 255, 63);
}

.main section {
  display: flex;
  flex-flow: column wrap;
  padding-left: 15px;
  background-color: beige;
  width: 100%;
}

.headingTitles{
  font-size: 5vh;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.mainText{
  color: black;
}

.sidebar{
  min-height: 83vh;
  min-width: 20vh;
  padding: 0;
  margin: 0;
  text-align: center;
}

.footer{
  display: flex;
  background-color: orangered;
  justify-content: center;
  padding: 10px;
  min-height: 6vh;
}

.card{
  height: 10vh;
  min-width: 5%;
  background-color: black;
}

.sidebar{
  height: 100%;
  min-width: 25vh;
  padding: 0;
  margin: 0;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .main {
    display: flex;
    flex-flow: row wrap;
  }

  .sidebar{
    min-height: 100px;
    width: 100%;
  }

  .main section {
    display: flex;
    flex-flow: row wrap;
  }

  section.content{
    height: 100vh;
  }
}
